.tpoints-lists{
    position: relative;
}

.pagination-wrapper.mypoints{
    position: relative;
    bottom: 0;
    box-shadow: none;
    padding: 0px;
    margin-top: 10px;
    background-color: transparent;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .filter-modal{
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .filter-modal{
        width: 94%;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 1200px) {}