.filter-date-range{
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 15px 0px 0px 0px;
}

.fdateinput{
    width: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #898989;
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 5px 0px;
}

.frange-slider{
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}