.appraisal-status-container{
    width: 100%;
    position: relative;
    display: inline-block;
}

.appraisal-status-item{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}

.appraisal-status-item.approved{
    background-color: var(--green);
}

.appraisal-status-item.rejected{
    background-color: var(--red);
}

.appraisal-status-item{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 2.5rem;
    z-index: 10;
}

.astatus-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.astatus-top p{
    margin-bottom: 0px;
}

.astatus-content{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.astatus-content h3{
    font-size: 14px;
    margin-bottom: 0px;
}

.astatus-content p{
    margin-bottom: 0px;
}

.appraisal-status-item.approved .astatus-top{
    color: var(--white);
} 

.appraisal-status-item.approved .astatus-content h3{
    color: var(--white);
} 

.appraisal-status-item.approved .astatus-content p{
    color: var(--white);
} 

.appraisal-status-item.rejected .astatus-top{
    color: var(--white);
} 

.appraisal-status-item.rejected .astatus-content h3{
    color: var(--white);
} 

.appraisal-status-item.rejected .astatus-content p{
    color: var(--white);
} 

.appraisal-status-item.document{
    background-color: #7E7B7B;
}

.appraisal-status-item.document a{
    color: var(--white);
    margin-bottom: 0px;
    text-decoration: none;
}

.appraisal-status-item::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -95px;
    transform: translate(-50%, 0%);
    width: 1px;
    height: 100%;
    background-color: #DDDDDD;
    z-index: 1;
}

.appraisal-status-item:last-child:after{
    display: none;
}

.pending-view-container{
    width: 100%;
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 218px);
    height: auto;
    min-height: auto;
    margin-top: 2rem;
}

.formcheck label{
    display: flex;
    gap: 10px;
}

.formcheck label input{
    scale: 1.5;
}