.form-input:disabled {
  background-color: #f4f4f4;
}

.form-check-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.form-check-item label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}

.form-check-item p {
  margin-bottom: 0px;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: normal;
  color: #333333;
}

.form-check-item label input {
  scale: 1.5;
}
.form-error {
  color: #d32f2f;
  font-size: 0.95em;
  margin-top: 4px;
  display: block;
}
