.sidebar{
    min-width: 70px;
    position: relative;
    display: inline-block;
    min-height: calc(100vh - 48px);
    background-color: var(--theme-color-blue);
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.sidebar.show-sidebar{
    display: none;
    transform: translateX(-100%);
}

.sidebar.hide-sidebar{
    display: block;
    transform: translateX(0);
}


.sidebar .nav .nav-item .nav-link{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white);
    border-radius: 0px;
    transition: ease-in-out 0.3s;
    flex-direction: column;
    font-size: 11px;
    min-height: 60px;
    text-align: center;
    justify-content: center;
}

.sidebar .nav .nav-item .nav-link i{
    font-size: 16px;
}

.sidebar .nav .nav-item .nav-link.active{
    background-color: var(--blue);
}

.sidebar .nav .nav-item .nav-link:hover{
    transition: ease-in-out 0.3s;
    background-color: #1d3151;
}

.sibebar-actions{
    padding: 15px 20px;
    border-top: 1px solid rgb(255 255 255 / 10%);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sibebar-actions h3{
    font-size: 15px;
    color: var(--white);
    margin-bottom: 0px;
}

.sbtn-link{
    width: 100%;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1d3151;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    transition: ease-in-out 0.3s;
}

.sbtn-link:hover{
    background-color: var(--blue);
    transition: ease-in-out 0.3s;
}

.sbtn-link i{
    font-size: 9px;
}

.menuConts{
    width: 16px;
    min-width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-left: 0px;
}

