.refresh-btn{
    font-size: 12px;
    background-color: transparent;
    border: none;
    margin: auto;
    display: flex;
}

.employee-recents{
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.large-heading{
    font-size: 20px;
    margin-bottom: 20px;
}

.recents-list-wrappr{
    width: 100%;
    position: relative;
    display: inline-block;
}

.recents-item{
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    height: 100%;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.ri-left{
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.ri-employee-avatar{
    width: 52px;
    min-width: 52px;
    height: 52px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 10%);
    padding: 10px;
}

.ri-employee-avatar img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ri-info h3{
    font-size: 16px;
}

.ri-info h3 span{
    font-size: 14px;
    color: var(--red);
    margin-left: 5px;
}

.ri-info p{
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 13px;
}

.ri-info span{
    font-size: 11px;
}

.ri-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.ri-points{
    display: flex;
    align-items: center;
    gap: 3px;
}

.ri-points img{
    width: 12px;
}

.ri-points p{
    margin-bottom: 0px;
}

.ri-points .add{
    color: var(--green);
}

.ri-points .deduct{
    color: var(--red);
}