@font-face {
  font-family: Lato-Thin;
  src: url('./assets/fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: Lato-Regular;
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-SemiBold;
  src: url('./assets/fonts/Roboto-SemiBold.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

:root{
  --theme-color-blue: #143361;
  --theme-color-secondary: #D6AD41;
  --body-bg: #f9fafc;
  --bloack: #000000;
  --white: #ffffff;
  --heading-color: #2D2D2D;
  --font-color: #333333;
  --font-color-light: #898989;
  --border-color: #DDDDDD;
  --line-color: #EEEEEE;
  --bg1: #E8F1FF;
  --top-bg: #012355;
  --red: #FA475B;
  --blue: #478BFA;
  --green: #0FAC1C;
  --card-bg: #FFF1DD;
  --menu-color: #878787;
}

body{
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.5;
  font-family: 'Lato-Regular', sans-serif;
  font-weight: normal;
  color: var(--font-color);
}

h1, h2, h3, h4, h5{
  font-family: 'Lato-Bold', sans-serif;
  font-weight: normal;
  color: var(--heading-color);
}

.theme-btn{
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  height: 35px;
  border-radius: 30px;
  width: fit-content;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  gap: 6px;
  border: 1px solid transparent;
  min-width: 100px;
}

.btn-blue{
  background-color: var(--theme-color-blue);
  color: var(--white);
  transition: ease-in-out 0.3s;
}

.btn-blue:hover{
  background-color: #114261;
  color: var(--white);
  transition: ease-in-out 0.3s;
}

.btn-border{
  background-color: #fff;
  color: #333;
  transition: ease-in-out 0.3s;
  border-color: #333;
}

.btn-border:hover{
  background-color: #114261;
  color: var(--white);
  transition: ease-in-out 0.3s;
}

b{
  font-weight: normal;
  font-family: 'Lato-Bold', sans-serif;
}

.btn-red{
  background-color: var(--red);
  color: var(--white);
  transition: ease-in 0.3s;
}

.btn-red:hover{
  background-color: var(--red);
  color: var(--white);
  transition: ease-in 0.3s;
}

.page-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
    max-height: calc(100vh - 218px);
    height: auto;
    min-height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    padding-top: 0px;
}