.main-container{
    width: 100%;
    position: relative;
    display: inline-block;
    height: 100vh;
    background-color: #FFFAF5;
}

.sidebar-content-wrapper{
    display: flex;
    width: 100%;
    position: relative;
}

.content-container{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 20px;
}