.main-container{
    width: 100%;
    position: relative;
    display: inline-block;
    height: 100vh;
    background-color: #f9fafc;
}

.sidebar-content-wrapper{
    display: flex;
    width: 100%;
    position: relative;
}

.content-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}